body{
    background-image: url(../imagens/fundo-site.jpg);
    background-repeat: no-repeat;/*para que a imagem nãoi seja repetida para comletar a página*/
    background-size: cover;
    background-position: center;

    font-family: 'VT323', monospace;
    color: white;
    font-size: 18px;
    display: flex;/*para centralizar o elemento filho(cartao)*/
    justify-content: center;
    align-items: center;
    min-height: 100vh;/*(viewportheight) estabeler 100 por cento de altura no navegador, para qeu seja possivel usar alingn items*/
    padding: 30px;
}

.cartao{
    background-image: url(../imagens/fundo-cartao.jpg);
    background-position: center;
    background-color: #070d12;
    width: 370px;
    border: 2px solid #4ee213;
    border-radius: 10px;/*curvar os cantos das bordas*/
    overflow: hidden;/*para que nada passe dos limites das bordas*/
}

.cartao .minhas-informacoes{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;/*ALINHA HORIZONTALMENTE POR CAUSA DO FLEX DIRECTION COLUMN*/
    gap: 10px;
}

.cartao .minhas-informacoes img{
    border-radius: 50px;
    border: 4px solid #02d08f;
}

.cartao .minhas-informacoes .nome{
    font-size: 26px;
}

.cartao .minhas-informacoes .cargo{
    font-size: 20px;
    color: #b8bbc5;
}

.cartao .conteudo{
    margin-top: 15px;
}

.cartao .abas{
    display: flex;
}

.cartao .abas .aba{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;/*para o cliente saber onde o cursor e estar e sinalizar que ele pode clicar*/
    transition: background-color 0.2s ease-in-out;
}

.cartao .abas img{
    width: 30px;
}

.cartao .abas .aba.selecionado{/*não tem espaço entre aba e selecionado, pq está estilizando uma tag que tem duas classes ao mesmo tempo*/
    background-color: #262626;
}

.cartao .informacoes-abas{
    background-color: #262626;
}

.cartao .abas .aba:hover{ /*mostrar que o aquele elemento é um botão clicável*/
    background-color: #414141;
}

.informacoes-abas .informacao{
    min-height: 260px;
    padding: 15px;
    display: none;
}

.informacoes-abas .informacao.selecionado{
    display: block;
    
}

.informacoes-abas .sub-titulo{
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}

.informacoes-abas .descricao{
    font-size: 20px;
    max-height: 180px;
    overflow-y: auto;/*para gerar um scroll no eixo vertical*/
    padding-right: 15px;
}

.informacoes-abas .descricao span{
    color: #02d028;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    gap: 25px;/*distancia entre itens*/
    align-items: center;
    max-height: 180px;
    overflow-y: auto;
}

.redes-sociais li a{
    background-color: red;
    width: 250px;
    display: block;
    color: #f3f3f3;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: opacity 0.1,5s ease-in-out;
}

.redes-sociais li a:hover{
    opacity: 0.8;
}

.redes-sociais .curriculo{
    background-color: #06c185;
}

.redes-sociais .linkedin{
    background-color: #1d87bd;
}

.redes-sociais .github{
    background-color: #545454;
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #02d028;
    border-radius: 5px;
}






